button {
    color: red;
    border-color: black;
}
#letters {
    color: white;
    weight: 50px;
    height: 50px;
    border-color: orange;
}
body { 
    background-color: pink;
}
main {
    color: white;
    
}